* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Red-Hat-Display", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

body {
	display: flex;
	background-image: url(/pattern-background-desktop.svg);
	background-color: hsl(225, 100%, 94%);
	background-size: cover;
	background-repeat: no-repeat;
}

.card {
	display: flex;
	margin-top: 15%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
	height: auto;
	background: white;
	border-radius: 25px;
	overflow: hidden;
}

.content {
	display: inline;
	flex-grow: 1;
	text-align: center;
}

.content #top {
	width: 100%;
}

.content .summary {
	padding: 10% 10% 5% 10%;
	line-height: 24px;
}

.summary h1 {
	color: hsl(223, 47%, 23%);
	font-size: 24px;
	font-weight: 900;
	padding-bottom: 5%;
}

.summary p {
	color: hsl(224, 23%, 55%);
	font-weight: 400;
}

.subscription {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	width: 80%;
	background-color: hsl(225, 100%, 98%);
	text-align: center;
	line-height: 24px;
	border-radius: 20px;
	border: none;
}

.subscription img {
	float: left;
	padding-right: 1rem;
}

.subscription p {
	font-weight: 200;
	color: hsl(224, 23%, 55%);
}

.subscription .change {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	color: hsl(245, 75%, 52%);
}

.change:hover {
	text-decoration: none;
	font-weight: 550;
}

.bottom {
	text-align: center;
	padding: 10% 10%;
	/* line-height: 50px; */
}

.bottom button {
	display: block;
	padding: 3% 10%;
	width: 100%;
	border-radius: 15px;
	border: none;
	color: white;
	background-color: hsl(245, 75%, 52%);
	box-shadow: 0px 18px 18px 0px hsla(245, 75%, 52%, 0.351);
}

button:hover {
	background-color: hsla(245, 75%, 52%, 0.776);
}

.bottom .cancel {
	display: block;
	margin-top: 10%;
	color: hsl(224, 23%, 55%);
	font-weight: 700;
	text-decoration: none;
}

.cancel:hover {
	color: hsl(223, 47%, 23%);
	font-weight: 900;
}

.attribution {
	position: absolute;
	bottom: 3%;
	left: 42%;
	font-size: 11px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.grady:hover {
	text-decoration: none;
	color: white;
	font-weight: 900;
	text-shadow: royalblue;
}
